*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    /* border: 2px solid red; */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #309898;
    position: relative;
}

.blur {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(236, 229, 229,0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.unblur {
    z-index: -1;
}

.winner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.winner h2 {
    font-size: 5em;
}

.winner h3 {
    font-size: 2em;
}

.winner button {
    margin: 1rem;
    padding: 0.2rem;
    height: 3em;
    width: 7em;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(34, 172, 34);
    border: none;
}

#name1 {
    margin: 1rem;
    height: 2em;
    width: 15em;
    padding: 0.2rem;
}

#name2 {
    margin: 1rem;
    height: 2em;
    width: 15em;
    padding: 0.2rem;
}

#start {
    margin: 1rem;
    padding: 0.2rem;
    height: 3em;
    width: 5em;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(34, 172, 34);
    border: none;
}

h1 {
    margin-bottom: 50px;
    font-size: 5em;
}

.container {
    /* border: 2px solid red; */
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table {
    height: 80%;
    width: 20%;
    table-layout: fixed;
}

td {
    background-color: aqua;
    text-align: center;
    font-size: 2rem;
    height: 33.33%;
    width: 33.33%;
}

#player1 {
    border-top-right-radius: 100% 50%;
    border-bottom-right-radius: 100% 50%;
    height: 90%;
    width: 10%;
    /* background-color: aqua; */
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#player2 {
    border-top-left-radius: 100% 50%;
    border-bottom-left-radius: 100% 50%;
    height: 90%;
    width: 10%;
    /* background-color: aqua; */
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}